.notebook-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15ex, 1fr));
/*    grid-auto-rows: 1fr;*/
    gap: 1em;
}

.notebook-grid .notebook-grid-elem {
    display: flex;
    flex-direction: column;
    gap: 1em;
    background-color: #f8f8f8;
    padding: 0.5em;
    border-radius: 4px;
    box-shadow: 0 2px 2px  0   rgba(0,0,0,0.14),
                0 1px 5px  0   rgba(0,0,0,0.12),
                0 3px 1px -2px rgba(0,0,0,0.20);
}

.notebook-grid a.notebook-grid-elem:hover {
    box-shadow: 0 6px 10px  0   rgba(0,0,0,0.14),
                0 1px 18px  0   rgba(0,0,0,0.12),
                0 3px  5px -1px rgba(0,0,0,0.4);
}

.notebook-grid .notebook-grid-elem .caption {
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}